# ======================
# Java / Spring Boot
# ======================
target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# ======================
# Node / React
# ======================
node_modules/
dist/
dist-ssr
*.local
build/

# ======================
# IDEs
# ======================
.idea/
*.iml
*.iws
*.ipr
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Environment files
# ======================
.env
.env.*
*.env
*.env.local

# ======================
# Logs
# ======================
logs/
*.log